body.signin-body{
    background-color: honeydew;
}

.container.signin-container{
    margin-top: 6%;
}

.card.signin-card{
    padding: 30px 0px 20px;
    background-color: seashell;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-image{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    /*width: 70%;*/
}

form.signin-form{
    max-width: 350px;
    margin: auto;

}

button.signin-btn{
    color: white;
    background-color: lightpink;
    width: 100%;
    margin-bottom: 0.8rem;
}

a.crearCuenta{
    font-size: 1.1rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}